* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

#frame {
    width: 800px;
    margin: auto;
}

#transcript {
    margin: 0;
    font-family: Monaco, monospace;
    border: 4px solid gray;
    height: 400px;
    padding: 1em;
    overflow: auto;
    background-color: white;
}

.timestamp {
    color: gray;
}

.value {
    color: green;
    font-weight: bold;
}

#toolbar {
    padding: 5px;
}

canvas {
    background-color: white;
    border: 4px solid gray;
    border-bottom: 0;
}